.info {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	text-align: center;
	font-size: 3rem;
	color: rgb(255, 252, 238);
	font-weight: bold;
	margin: 2rem;
}

.info__player {
	font-family: 'Carter One', cursive;
	font-size: 3.5rem;
	font-weight: lighter;
	color: rgba(252, 145, 44, 0.851);
}
